.board{
  background-color: cadetblue;
  width:40% !important;
  display: grid;
}
.col{
  border: solid blue thick;
  background-color: darkgray;
  width:40px;
  height: 40px;

}
.R{
  background-color: red;
}
.O{
  background-color: orange;
}
.N{
  background-color: darkgray;
}
#body{
  background-color: palegreen;
}